<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Dashboard</title>
</head>
<body>
    <%- include('./partials/admin/header') %>
  <h1>Welcome to the <%= role %> Dashboard</h1>
  <p>Basic statistics and recent articles will be displayed here.</p>
  <%- include('./partials/admin/footer') %>
</body>
</html>
