<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <title>Newspaper Website</title>
</head>
<body>
  <%- include('./partials/public/header') %>
  <h1>Welcome to the Newspaper Website</h1>
  <p>This is the main page.</p>
  <%- include('./partials/public/footer') %>
</body>
</html>
