<header>
  <nav>
    <a href="/<%= role ? role : 'admin' %>/dashboard">Dashboard</a>
    <% if (role === 'admin') { %>
      <a href="/admin/users">User Management</a>
    <% } %>
    <a href="/<%= role ? role : 'admin' %>/articles">Articles</a>
    <a href="/logout">Logout</a>
  </nav>
</header>
